<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://molstar.org/viewer/molstar.css" />

    <title>Protein Viewer</title>
</head>
<body>
    <div id="viewer"></div>
    <script type="text/javascript" src="/static/js/molstar.js"></script>
    <script type="text/javascript">
        molstar.Viewer.create('viewer', {
            layoutIsExpanded: false,
            layoutShowControls: false,
            layoutShowRemoteState: false,
            layoutShowSequence: true,
            layoutShowLog: false,
            layoutShowLeftPanel: false,
            viewportShowExpand: false,
            viewportShowSelectionMode: false,
            viewportShowAnimation: false,
        }).then(function(viewer) {
            viewer.loadPdb('7bv2');
        });

    </script>
</body>

</html>
